@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");
.main{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    height: 30rem;
    width: 10rem;
    background-color: #6C969D;
    transform: translate(1000%,25%);
    border-radius: 3rem 0rem 0rem 3rem;
    .progressbar{
        height: 40rem;
        width: 2rem;
        background-color: #37565B;
    }
    .avatar_container{
        margin-top: 0.2rem;
        img{
            height: 7rem;
            width: 7rem;
        }
        p{
            color: white;
            text-align: center;
            font-family: "Inria Sans", sans-serif;
            transform: translate(-1.5rem);
        }
    }
}