*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

body{
  background-image: linear-gradient(to bottom, #f2f3d9, #deecd0, #c8e5ca, #b0ddc8, #99d5c9);
  background-repeat: no-repeat;
  object-fit: cover;
}
  


